/* Soluzione qui */

/* LARGE MOBILE */

@media screen and (min-width: 576px)
{
.social-networks .label{
    display: inline-block;
    padding: 5px;
 }
    
    .clearfix img{
    float: left;
    margin: 20px;
    }

}

/* FINE LARGE MOBILE */

/* TABLET */

@media screen and (min-width:768px)

{
.topbar{
position: relative;
}

#logo{
    position: absolute;
    z-index: 999;
    left: 20px;
    top: 0;
}

.container{
    width: 80%;
}

.quick-notes ul{
    display: flex;
    flex-wrap: wrap;
}

.quick-notes li {
    width: calc(100% / 3);
}

.ads{
    display: block;
}

.clearfix img{
float: left;
margin: 20px;
}

.social-networks .label{
display: none;
}

}

/* FINE TABLET */

/* DESKTOP */

@media screen and (min-width: 992px)
 {
 .container{
    width: 70%;
 }

 .recipe-origin{
    display: inline;
 }

 .social-networks .label{
    display: inline-block;
    padding: 5px;
 }

.recipe-card {
display: flex;
 }

 .recipe-video {
    width: 70%;
}

 .recipe-info{
    width: 30%;
 }

} 

/* FINE DESKTOP */


