/* Soluzione qui */

/* TABLET */

@media screen and (min-width:768px)

{
.topbar{
position: relative;
}

#logo{
    position: absolute;
    z-index: 999;
    left: 20px;
    top: 0;
}

.container{
    width: 80%;
}

.quick-notes ul{
    display: flex;
    flex-wrap: wrap;
}

.ads{
    display: block;
}

.clearfix img{
float: left;
margin: 20px;
}
}

/* FINE TABLET */

@media screen and (min-width: 992px)
 {
 .container{
    width: 70%;
 }

 .recipe-origin{
    display: inline;
 }

 .social-networks .label{
    display: inline-block;
    padding: 5px;
 }
.recipe-card {
display: flex;
 }

 .recipe-video {
    width: 70%;
}

 .recipe-info{
    width: 30%;
 }

} 
